.popup-image__container {
  max-width: 430px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .popup-image__container {
    max-width: 282px;
  }
}
